/Assets
/Binaries
/Intermediate

.vs
.vscode

premake5.lua
Build-vs2022.bat
Build-linux.sh
Run-linux.sh
Build-wiiu.bat
Build-wiiu.sh
Build-3ds.bat
Build-3ds.sh

*.sln
*vcxproj
*vcxproj.*

*.dll.recipe
*.log
*.lastbuildstate

Makefile.wiiu
Makefile.3ds

Makefile
*.make
*.spv
